[calendar]
#Path to ics file. Calendar only needs to be readable.
calendarfile = /media/shareX/Wartungspläne.ics

[mail]
server = smtp.example.com
port = 465
password = kCHvJeUy4Gd2XgsXXYFqUtjk
sender = tom_jones@example.com
recipient = michael_jackson@example.com

[otrs]
server = http://localhost
username = restapiuser
password = AiX3sheeIyahf8aaQuah2wio
#customUser = root@localhost
#tickettitel = Titel
#queue = Queueebene1::Queueebene2
#state = New
#priority = 1 very low
#footer = Ticket automatically created by Wartungsplan

[headers]
# Configure here the available (allowed) headers with their
# default value (effective if present but empty in calendar event)
#
# For mail
#X-Priority = 3
#X-TicketID =
#To = example@example.com
#
# For OTRS
#tickettitel = Titel
#queue = Queueebene1::Queueebene2
#state = New
#priority = 1 very low
