[Unit]
Description=Wartungsplan recurring tasks from ical
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/path/to/install/dir
#ExecStart=/usr/bin/curl -o wp.ical https://
ExecStart=/path/to/install/dir/venv/bin/Wartungsplan -c plan.conf otrs -v
#ExecStartPost=/usr/bin/rm wp.ical

#ProtectHome=true
ProtectSystem=full
ProtectClock=true
#RestrictAddressFamilies=none
PrivateTmp=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectControlGroups=true
ProtectProc=noaccess
MemoryDenyWriteExecute=true
NoNewPrivileges=true
CapabilityBoundingSet=
PrivateUsers=true

[Install]
WantedBy=multi-user.target
